<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/taskbar.js') }}"></script>
</head>

<body>
    <div class="taskbar">
        <div class="start-btn">Start</div>
        <nav>
            <ul>
                <li><a class="nav-btn" href="{{ url_for('index')}}">Home</a></li>
                <li><a class="nav-btn" href="{{ url_for('create')}}">Create</a></li>
                <li><a class="nav-btn" href="{{ url_for('analyse')}}">Analyse</a></li>
            </ul>
        </nav>
        <div class="current-time" id="time"></div>
    </div>

    <div class="window-titlebar">
        <div class="window-title">Network Security Application</div>
        <div class="window-controls">
            <div class="min-btn">_</div>
            <div class="max-btn">□</div>
            <div class="close-btn">X</div>
        </div>
    </div>

    <div class="menu-bar">
        <ul>
            <li>File</li>
            <li>Edit</li>
            <li>Search</li>
            <li>Help</li>
        </ul>
    </div>

    <nav class="window">
        <p>Welcome to our network security application.</p>
        <p>Our team members:</p>
        <li>Deakin</li>
        <li>Harrison</li>
        <li>Mikki</li>
        <li>Jake</li>
        <li>Nikitas</li>
        <li>Speedie</li>
    </nav>

</body>

</html>